<!doctype html>
<html>
  <head>
    <title>List of Datatables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/DT_bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <table class="table table-striped" id="datatable">
        <thead>
          <tr>{{range .}}<th>{{.}}</th>{{end}}</tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script>
      var aoColumns = [{{range .}}"{{.}}",{{end}}];
      var aaData = [];
    </script>
