<!doctype html>
<html>
  <head>
    <title>List of Datatables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/DT_bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>DataTable</h1>
        <p>One place for storing, viewing and searching tabular data of any format</p>
      </div>
      <h3>List of Views</h3>
      <table class="table table-striped" id="datatable">
        <thead>
          <tr><th>#</th><th>View</th><th>Action</th></tr>
        </thead>
        <tbody>
          {{range $i, $e := .Views}}
          <tr><td>{{$i}}</td><td><a href="/view/{{.}}" >{{$e}}</a></td><td>
              <a href="/view/{{$e}}" class="btn btn-success">View</a> 
              <a href="/view/{{$e}}" class="btn btn-warning">Edit</a> 
              <a href="/view/{{$e}}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    <div class="well">
      <div class="hero-unit">
        <h4>Source: <a href="https://github.com/boopathi/datatable" target="_blank">Github->boopathi->datatable</a><h4>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/DT_bootstrap.js"></script>
    <script src="/js/listview.js"></script>
  </body>
</html>
